<!--<p>component-form works!</p>-->
<div class="container">

  <form>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" name="first name" id="firstName" class="form-control">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" name="last name" id="lastName" class="form-control">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" class="form-control">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input type="text" name="phone number" id="phoneNumber" class="form-control">
    </div>

    <div class="form-group">
      <label for="favLanguage">Favourite language:</label>
      <select name="coding language" id="favLanguage" class="form-control">
        <option *ngFor="let language of Languages">{{language}}</option>
      </select>
    </div>

    <button class="btn btn-form" type="submit">Submit</button>

  </form>

</div>
