<!--<p>component-form works!</p>-->
{{ friendModel | json }}

<div class="container">

  <form #formFriends="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" name="first name" id="firstName" class="form-control" #firstName="ngModel" [(ngModel)]="friendModel.firstName" required pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$">
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors?.['required']">
          Your given name is required.
        </div>
        <div *ngIf="firstName.errors?.['pattern']">
          Your given name can only contain characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" name="last name" id="lastName" class="form-control" #lastName="ngModel" [(ngModel)]="friendModel.lastName" required pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$">
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors?.['required']">
          Your surname is required.
        </div>
        <div *ngIf="lastName.errors?.['pattern']">
          Your surname can only contain characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" class="form-control" #email="ngModel" [(ngModel)]="friendModel.email" required [email]="true">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors?.['required']">
          Your email is required.
        </div>
        <div *ngIf="email.errors?.['email']">
          Your email is invalid.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input type="text" name="phone number" id="phoneNumber" class="form-control" #phoneNumber="ngModel" [(ngModel)]="friendModel.phoneNumber" required pattern="^(((\+|00)32[ ]?(?:\(0\)[ ]?)?)|0){1}(4(60|[789]\d)\/?(\s?\d{2}\.?){2}(\s?\d{2})|(\d\/?\s?\d{3}|\d{2}\/?\s?\d{2})(\.?\s?\d{2}){2})$">
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
        <div *ngIf="phoneNumber.errors?.['required']">
          Your phone number is required.
        </div>
        <div *ngIf="phoneNumber.errors?.['pattern']">
          Your phone number can not contain letters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="favLanguage">Favourite language:</label>
      <select name="favourite language" id="favLanguage" class="form-control" #favLanguages="ngModel" [(ngModel)]="friendModel.favLanguages" required>
        <option value="" disabled selected>Choose your favourite coding language</option>
        <option *ngFor="let language of Languages">{{language}}</option>
      </select>
      <div *ngIf="favLanguages.invalid && (favLanguages.dirty || favLanguages.touched)" class="alert alert-danger">
        <div *ngIf="favLanguages.errors?.['required']">
          Please choose a coding language.
        </div>
      </div>
    </div>

    <button class="btn btn-dark" type="submit" [disabled]="!formFriends.valid">Submit</button>

  </form>

</div>
